body {
    background-color:#84baaa;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}
 h1{
 font-family:Trebuchet MS,Verdana;
 font-size:20px;
 
}
h2
{
 font-family:Trebuchet MS,Verdana;
 font-size:16px;
 
}
